@model MatchdayMadness2.Models.Teams

@{
    ViewData["Title"] = "Create";     
    Layout = "_LayoutAdmin"; 
}

<h4>Teams</h4>
<hr />
@Html.Partial("_CreatePartial", Model)

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
