@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="container">


</div>

<script>
    var container = document.getElementsByClassName("container");

    var newRow = document.createElement("div");
    newRow.textContent="Ketu do te vendosen ndeshjet me te reja!"

    container[0].appendChild(newRow);

</script>